.col-md-6 {
    text-align: left;
    background-color: #D9D9D9;
    border-radius: 12px;
    padding: 16px;
}

.form-btn-container {
    text-align: center;
}

.form-btn-container button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.form-btn-container button:hover {
    background-color: darkgreen;
}

.row {
    margin: 0;
    flex-wrap: nowrap;
}

