.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;      /* Enables horizontal scroll */
    white-space: nowrap;   /* Prevents items from wrapping */
    scroll-snap-type: x mandatory;
    margin-bottom: 10px;
}

.row .col {
    flex: 0 0 calc(25% - 0.5rem);;  /* Prevent columns from shrinking, keeps them side-by-side */
    scroll-snap-align: start; /* Works with scroll-snap for clean scrolling */
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(175, 175, 175);
    height: 85px;
}

.image-container {
    background-color: beige;
    height: 250px;
}
    